:root {
  --primary: #ffffff;
  --primaryV2: #f0f0f0;
  --secondary: #bdbdbd;
  --tertiary: #94949459;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus {
  outline: transparent;
}

.App {
  font-family: Nunito;
  color: var(--primary);
  height: 100vh;
  background: no-repeat center center fixed;
  background-size: cover; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  filter: brightness(110%);
}

.overlay {
  /* background-color: rgba(0, 0, 0, 0.35); */
  height: 100vh;
  background-color: rgba(58, 58, 58, 0.45);
}

.btn {
  color: var(--primary);
}

/* HEADER SECTION */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.login {
  padding: 10px 14px;
  font-size: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #979395;
  border-radius: 5px;
}

/* TODO-LIST SECTION */
.todo-list-container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  text-shadow: .5px .5px .5px var(--primary);
}

.todo-list-greeting {
  font-size: 80px;
  /* -webkit-font-smoothing: antialiased; */
}

.todo-list-question {
  font-size: 45px;
  font-weight: 300;
}

.todo-list-input {
  margin: .5rem 0;
  font-size: 32px;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--primaryV2);
  color: var(--primary);
  text-align: center;
}

.todo-container {
  position: relative;
  top: .5rem;
}

.todo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem 0;
  list-style: none;
}

.todo-item > * {
  padding: 0 .4rem;
}

.todo-text {
  font-size: 40px;
  cursor: default;
}

.text-strike-through {
  text-decoration: line-through;
  color: var(--secondary);
}

.bi {
  position: relative;
  top: .3rem;
  cursor: pointer;
}

.bi-x {
  border-radius: 25px;
  color: var(--primary);
}

.bi-x:hover {
  background-color: var(--tertiary);
}

.bi-app {
  color: var(--secondary);
}

.bi-app:hover {
  color: var(--primary);
}

.bi-check2-square {
  border-radius: 10px;
}